<style>
:root {--parent-height-1: 3vh;}

* {touch-action: manipulation;}

/* disable pull to refresh, keeps glow effects */
html, body {
	font-family: Arial;
	padding: 0px;
	margin: 0px;
	overscroll-behavior-y: contain;
}

body {
	overflow: hidden; /* Hide scrollbars */
}

.module {
	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	margin: 0 auto;
	max-width: 100%;
	overflow: auto;
	position: relative;
	padding-bottom: var(--parent-height-1);
}

div.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3vh;	/*var(--parent-height-1);*/
	height: var(--parent-height-1);
	background-color:yellow;
	text-align: center;
	z-index: 1;
}

div.bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3vh;	/*var(--parent-height-1);*/
	height: var(--parent-height-1);
	background-color: green;
	color: white;
	text-align: center;
	z-index: 1;
}


.Header a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-family: "Times New Roman";
}

#Thoat {
  float: center;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  background-color: inherit;
  font-family: "Times New Roman";
  margin: 0;
}

.Header a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/*
.dropdown:hover .dropdown-content {
  display: block;
}
*/
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: var(--parent-height-1);
}


.column {float: left;}

.item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	background-color: lightblue;
	position: relative;
	width: 100%;
}

img {border-radius: 25%; padding: 0.2vw;}


.Q01b {
	position: absolute;

	bottom: 0px;
	width: 100%;
	font-weight: bold;
	background-color:lightcoral;

}



.overlay {
	/*
	height: 97vh;
	height: calc(var(--vh, 1vh) * 100 - var(--parent-height-1) * 2); 
	
	top: 3vh;	/*calc(var(--parent-height-1)*2);*/
	top: var(--parent-height-1);
	*/
	width: 100vw;
	display: none;
	position: fixed;
	z-index: 2;
	
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	z-index: 2;
}

.Loading {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	z-index: 2;
}

.main {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.overlay-content {
	position: relative;
	
	top: 0%;
	/*
	height: 97vh;
	height: calc(var(--vh, 1vh) * 100 - var(--parent-height-1) * 2); 
	*/
	width: 100%;	/*100vw;*/
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.Loading-content {
	position: relative;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.closebtn {
position: absolute;
top: -5px;
right: 18px;
font-size: 30px;
cursor: pointer;
color: black;
}

.overlay .closebtn:hover {
color: #ccc;
}


.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 120px;
height: 120px;
position: absolute;


-webkit-animation: spin 2s linear infinite; /* Safari */
animation: spin 2s linear infinite;

}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.iFrame_content {

width: 100vw;
width: calc(var(--vw, 1vw) * 100);
/*
	height: 97vh;
height: calc(var(--vh, 1vh) * 100 - var(--parent-height-1));
*/
}

}

</style>
